*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}
html, body
{
    height: 100%;
    width: 100%;
}
header
{
    display: flex;
    justify-content: center;
}
#header
{
    font-size: 3rem;
}
main
{
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    height: 100%;
    background-color: red;
}
#gameboard
{
    width: 40rem;
    height: 40rem;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.game-box
{
    text-align: center;
}